:root {
  /* White */
  --kr-white: #ffffff;
  /* Black */
  --kr-black: #000000;
  /* Charcoal */
  --charcoal-50: #f5f5f7;
  --kr-charcoal-100: #e5e5e8;
  --kr-charcoal-200: #c2c2c6;
  --kr-charcoal-300: #a0a0a2;
  --kr-charcoal-400: #7d7d80;
  --kr-charcoal-500: #5c5c5e;
  --kr-charcoal-600: #404041;
  --kr-charcoal-700: #292929;
  --kr-charcoal-800: #1a1a1a;
  --kr-charcoal-900: #141414;
  /* Metal Shades */
  --kr-metal-50: #f4f5f7;
  --kr-metal-100: #e4e6eb;
  --kr-metal-200: #caced9;
  --kr-metal-300: #b0b5c5;
  --kr-metal-400: #969cac;
  --kr-metal-500: #7c8292;
  --kr-metal-600: #616678;
  --kr-metal-700: #4b4f5c;
  --kr-metal-800: #353841;
  --kr-metal-900: #1f2129;
  /* Haiti Shades */
  --kr-haiti-50: #f4f2f8;
  --kr-haiti-100: #eae7f2;
  --kr-haiti-200: #cdcad9;
  --kr-haiti-300: #a7a3b3;
  --kr-haiti-400: #757281;
  --kr-haiti-500: #58536e;
  --kr-haiti-600: #3f395c;
  --kr-haiti-700: #29244a;
  --kr-haiti-800: #1a153d;
  --kr-haiti-900: #151131;
  /* Purple Shades */
  --kr-purple-50: #e6e1fe;
  --kr-purple-100: #cec4fd;
  --kr-purple-200: #b3a6f9;
  --kr-purple-300: #9c8ef4;
  --kr-purple-400: #7a69ee;
  --kr-purple-500: #5b4ccc;
  --kr-purple-600: #4034ab;
  --kr-purple-700: #2a218a;
  --kr-purple-800: #1b1472;
  --kr-purple-900: #15105b;
  /* Blue Berry Shades */
  --kr-blue-berry-50: #dfe8ff;
  --kr-blue-berry-100: #bfd0ff;
  --kr-blue-berry-200: #9fb7ff;
  --kr-blue-berry-300: #87a3ff;
  --kr-blue-berry-400: #5f81ff;
  --kr-blue-berry-500: #4561db;
  --kr-blue-berry-600: #2f46b7;
  --kr-blue-berry-700: #1e2f93;
  --kr-blue-berry-800: #121f7a;
  --kr-blue-berry-900: #0e1862;
  /*  Blue Shades */
  --kr-blue-50: #e3f0fe;
  --kr-blue-100: #bbddfd;
  --kr-blue-200: #8ec9fc;
  --kr-blue-300: #61b5fb;
  --kr-blue-400: #3da5fa;
  --kr-blue-500: #1d7ef8;
  --kr-blue-600: #176ada;
  --kr-blue-700: #1356bc;
  --kr-blue-800: #0f439e;
  --kr-blue-900: #0a3380;
  /* Sky Shades */
  --kr-sky-50: #cefdfe;
  --kr-sky-100: #9df4fe;
  --kr-sky-200: #6ce5fe;
  --kr-sky-300: #47d2fe;
  --kr-sky-400: #0bb4fe;
  --kr-sky-500: #088cda;
  --kr-sky-600: #0569b6;
  --kr-sky-700: #034a93;
  --kr-sky-800: #023579;
  --kr-sky-900: #022a5f;
  /* Turquoise Shades */
  --kr-turquoise-50: #ccfdf3;
  --kr-turquoise-100: #9afbef;
  --kr-turquoise-200: #67f5ef;
  --kr-turquoise-300: #41e6ec;
  --kr-turquoise-400: #08c7e0;
  --kr-turquoise-500: #059cc0;
  --kr-turquoise-600: #0475a1;
  --kr-turquoise-700: #025481;
  --kr-turquoise-800: #013d6b;
  --kr-turquoise-900: #013156;
  /* Persian Green Shades */
  --kr-persian-green-50: #cafae4;
  --kr-persian-green-100: #97f5d2;
  --kr-persian-green-200: #5fe2be;
  --kr-persian-green-300: #37c6ab;
  --kr-persian-green-400: #06a192;
  --kr-persian-green-500: #048a89;
  --kr-persian-green-600: #036a73;
  --kr-persian-green-700: #014d5d;
  --kr-persian-green-800: #01384d;
  --kr-persian-green-900: #012c3c;
  /* Pastel Green Shades */
  --kr-pastel-green-50: #d2fbd0;
  --kr-pastel-green-100: #a3f7a9;
  --kr-pastel-green-200: #72e985;
  --kr-pastel-green-300: #4dd470;
  --kr-pastel-green-400: #1cb854;
  --kr-pastel-green-500: #149e53;
  --kr-pastel-green-600: #0e8450;
  --kr-pastel-green-700: #086a49;
  --kr-pastel-green-800: #055843;
  --kr-pastel-green-900: #044837;
  /* Grass Shades */
  --kr-grass-50: #e3fad6;
  --kr-grass-100: #c2f6ae;
  --kr-grass-200: #93e380;
  --kr-grass-300: #66c95b;
  --kr-grass-400: #2fa52d;
  --kr-grass-500: #208d28;
  --kr-grass-600: #167625;
  --kr-grass-700: #0e5f21;
  --kr-grass-800: #084f1f;
  --kr-grass-900: #074119;
  /* Carrot Shades */
  --kr-carrot-50: #fff3d5;
  --kr-carrot-100: #ffe4ab;
  --kr-carrot-200: #ffd181;
  --kr-carrot-300: #ffbe62;
  --kr-carrot-400: #ffa02e;
  --kr-carrot-500: #db7e21;
  --kr-carrot-600: #b75f17;
  --kr-carrot-700: #93450e;
  --kr-carrot-800: #7a3108;
  --kr-carrot-900: #602706;
  /* Orange Shades */
  --kr-orange-50: #ffead2;
  --kr-orange-100: #ffcea6;
  --kr-orange-200: #ffad7a;
  --kr-orange-300: #ff8c59;
  --kr-orange-400: #ff5722;
  --kr-orange-500: #db3918;
  --kr-orange-600: #b72111;
  --kr-orange-700: #930e0a;
  --kr-orange-800: #7a060b;
  --kr-orange-900: #610509;
  /* Red Shades */
  --kr-red-50: #fee3d4;
  --kr-red-100: #fdc0ab;
  --kr-red-200: #fb9580;
  --kr-red-300: #f86d60;
  --kr-red-400: #f42d2d;
  --kr-red-500: #d12030;
  --kr-red-600: #af1631;
  --kr-red-700: #8d0e2f;
  --kr-red-800: #75082e;
  --kr-red-900: #5f0726;
  /* Raspberry Shades */
  --kr-raspberry-50: #fed9d5;
  --kr-raspberry-100: #feacad;
  --kr-raspberry-200: #fd838f;
  --kr-raspberry-300: #fb6382;
  --kr-raspberry-400: #f9316d;
  --kr-raspberry-500: #d6236a;
  --kr-raspberry-600: #b31865;
  --kr-raspberry-700: #900f5c;
  --kr-raspberry-800: #770955;
  --kr-raspberry-900: #5f0743;
  /* Fuchsia Shades */
  --kr-fuchsia-50: #feccec;
  --kr-fuchsia-100: #fe99e3;
  --kr-fuchsia-200: #fe66e3;
  --kr-fuchsia-300: #fe40ec;
  --kr-fuchsia-400: #fe01fc;
  --kr-fuchsia-500: #c900da;
  --kr-fuchsia-600: #9800b6;
  --kr-fuchsia-700: #6e0093;
  --kr-fuchsia-800: #500079;
  --kr-fuchsia-900: #410061;
}
